:root {
    --accent-color: #FF6C00;
    --white-color:#FFFFFF;
    --section-bg-color: #F7F7F7;
    --dark-bg-color: #191C26;
    --primary-text-color: #303030;
    --secondary-text-color: #555555;
    --additional-text-color: #9DA4BD;
    --subtitle-color: rgba(157, 164, 189, 0.6);
}

body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.67;
    letter-spacing: 0.02em;
    color: var(--primary-text-color);
}

h1,
h2,
h3,
p,
ul {
    margin: 0;
}

ul {
    list-style: none;
    padding-inline-start: unset;
}

a {
    text-decoration: none;
}

img {
    display: block;
}

.hide {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
    outline: 1px solid rebeccapurple;
}

/* HEADER Styles */

.header {
    background-color: var(--dark-bg-color);
}

.navigation {

}

.navigation-item {

}

.navigation-link {
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.1em;
    color: var(--white-color);
}

.navigation-link:hover,
.navigation-link:focus,
.header-phone:hover,
.header-phone:focus,
.hero-social-link:hover,
.hero-social-link:focus {
    color: var(--accent-color);
}

.header-phone {
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: var(--white-color);
}

.header-button {
    padding: 12px 20px;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.09em;
    text-transform: uppercase;
    color: var(--white-color);
    background-color: var(--dark-bg-color);
    border: 1px solid var(--accent-color);
    border-radius: 25px;
    cursor: pointer;
}

.header-button:hover,
.header-button:focus,
.about-button:hover,
.about-button:focus {
    color: var(--white-color);
    background-color: var(--accent-color);
}

.container.hero {
    background-color: var(--dark-bg-color);
}

.hero-sutitle,
.subtitle {
    margin-bottom: 20px;
    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    text-transform: uppercase;
}

.hero-sutitle{
    color: var(--subtitle-color);
}

.hero-title {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 72px;
    line-height: 1.18;
    letter-spacing: 0.05em;
    color: var(--white-color);
}

.hero-description {
    color: var(--additional-text-color);
}

.hero-social-link {
    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    letter-spacing: 0.2em;
    color: var(--primary-text-color);
}

.white-title,
.dark-title {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 42px;
    line-height: 1.17;
    letter-spacing: 0.05em;
}

.white-title {
    color: var(--white-color);
}

.about-subtitle {
    color: var(--secondary-text-color);
}

.about-description {
    font-size: 14px;
    line-height: 1.86;
    color: var(--secondary-text-color);
}

.about-button {
    padding: 12px 20px;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.09em;
    text-transform: uppercase;
    background-color: var(--white-color);
    border: 1px solid var(--accent-color);
    border-radius: 25px;
    cursor: pointer;
}

.services,
.contacts {
    background-color: var(--dark-bg-color);
}

.services-list {
    /* display: flex; */
    color: var(--additional-text-color);
}

.number-item {
    background-color: var(--section-bg-color);
}

.number {
    font-weight: 700;
    font-size: 42px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.05em;
}

.number-text {
    font-weight: 600;
    font-size: 11px;
    line-height: 1.36px;
    text-align: center;
}

sup {
    color: var(--accent-color);
}

.barbers {
    background-color: var(--section-bg-color);
}

.subtitle.gallery-subtitle {
    margin-bottom: 44px;
}

.barbers-list {
    display: flex;
    column-gap: 30px;
}

.barbers-title {
    margin-bottom: 8px;
    line-height: 1.39;
    text-align: center;
}

.barbers-subtitle {
    margin-bottom: 30px;
    font-size: 14px;
    line-height: 1.36;
    text-align: center;
    color: var(--accent-color);
}

.gallery-list {
    display: flex;
    column-gap: 30px;
}