:root {
    --accent-color: #FF6C00;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 1,67;
    letter-spacing: 0.02em;
}

h1,
h2,
h3,
p,
ul {
    margin: 0;
}

ul {
    list-style: none;
    padding-inline-start: unset;
}

a {
    text-decoration: none;
}

img {
    display: block;
}