.benefits {
    background-color: $whiteColor;
}

.benefits__subtitle {
    margin-bottom: 20px;
    font-weight: 600;
    text-transform: uppercase;
}

.benefits__title {
    margin-bottom: 20px;
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 42px;
    line-height: 1.17;
    letter-spacing: 0.05em;
}

.benefits__description {
    margin-bottom: 44px;
    font-size: 18px;
    line-height: 1.67;
    letter-spacing: 0.02em;
    color: $secondaryTextColor;
}

.benefits__number {
    font-weight: 700;
    font-size: 42px;
    line-height: 1.36;
    letter-spacing: 0.05em;
}

.benefits__text {
    font-weight: 600;
}