.booking {
    background-color: $darkBgColor;
}

.booking__title {
    margin-bottom: 44px;
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 42px;
    line-height: 1.17;
    letter-spacing: 0.05em;
    text-align: center;
    color: $whiteColor;
}